<div th:id="${id}"
     th:class="'cv-dropdown dropdown ' + ${cssClass}"
     th:attr="data-cv-component='dropdown', ${attributes}"
     th:if="${visible}">
  <button class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <span th:if="${triggerIcon}" th:class="'bi ' + ${triggerIcon}" class="me-1"></span>
    <span th:text="${triggerText}">Dropdown</span>
  </button>
  <ul class="dropdown-menu" th:attr="data-bs-popper='static'">
    <li th:each="item : ${items}">
      <th:block th:if="${item.divider}">
        <hr class="dropdown-divider">
      </th:block>
      <th:block th:if="${item.header}">
        <h6 class="dropdown-header" th:text="${item.label}"></h6>
      </th:block>
      <th:block th:if="${!item.divider and !item.header}">
        <a class="dropdown-item" th:href="${item.url}">
          <span th:if="${item.icon}" th:class="'bi ' + ${item.icon}" class="me-2"></span>
          <span th:text="${item.label}"></span>
        </a>
      </th:block>
    </li>
  </ul>
</div>
